{{ $c := "left-right" }}

<div class="{{ $c }}">
   {{ if .bg_image }}
      <img class="{{ $c }}__svg-img" src={{ .bg_image }} alt="" />
   {{ end }}
   <div class="{{ $c }}__wrapper">
      <div class="{{ $c }}__text">
         <h2 data-rosey="{{ .heading }}">{{ .heading }}</h2>
         <p data-rosey="{{ .text }}">{{ .text }}</p>
         {{ with .button }}
            {{ partial "bookshop" . }}
         {{ end }}
      </div>
      {{ if .image }}
         <img class="{{ $c }}__img" src={{ .image }} alt={{ .image_alt }} />
      {{ end }}
   </div>
</div>